@layer base {
  @font-face {
    font-family: Comfortaa;
    src: url('comfortaa/comfortaa.ttf');
    font-weight: 400;
    font-style: normal;
  }

  @font-face {
    font-family: Comfortaa;
    src: url('comfortaa/static/Comfortaa-Bold.ttf');
    font-weight: 700;
    font-style: normal;
  }
}
