<section class="w-full mb-3 md:px-28">
  <div class="w-full p-5 bg-white border rounded-md">
    <h1>Налаштування сайту</h1>

    <%= render 'account/site_settings/form', site_settings: @site_settings %>
  </div>
</section>
