/* GENERATED FILE! */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  input[type=file]::-webkit-file-upload-button,
  input[type=file]::file-selector-button {
    @apply text-white bg-indigo-600 hover:bg-indigo-700 font-medium text-sm cursor-pointer border-0 py-2.5 pl-8 pr-4;
    margin-inline-start: -1rem;
    margin-inline-end: 1rem;
  }

  abbr[title=required] {
    @apply !text-red-500 no-underline;
  }

  .responsive-container {
    @apply px-5 lg:px-8 xl:px-15 3xl:px-78;
  }

  .flash {
    @apply absolute flex w-full max-w-sm m-3 -right-96 top-10 lg:m-0 lg:w-fit;
  }
}

@layer components {
  .btn {
    @apply p-3 text-center rounded-md cursor-pointer;
  }

  .btn-secondary {
    @apply text-white bg-blue-600 btn;
  }
}

@layer base {
  @font-face {
    font-family: Comfortaa;
    src: url('comfortaa/comfortaa.ttf');
    font-weight: 400;
    font-style: normal;
  }

  @font-face {
    font-family: Comfortaa;
    src: url('comfortaa/static/Comfortaa-Bold.ttf');
    font-weight: 700;
    font-style: normal;
  }
}

@layer components {
  .table-element {
    @apply w-full divide-y divide-gray-200;
  }

  .table-element > thead {
    @apply bg-gray-50;
  }

  .table-element > thead > tr > th {
    @apply px-3 py-3 text-xs font-medium tracking-wider text-left text-gray-500 uppercase;
  }

  .table-element > tbody {
    @apply bg-white divide-y divide-gray-200;
  }

  .table-element > tbody > tr > td {
    @apply py-3 px-3 !whitespace-normal;
  }
}

@layer base {
  h1 {
    @apply font-comfortaa text-4xxl leading-13 md:text-4xl md:leading-16;
  }

  h3 {
    @apply text-4xl font-comfortaa leading-13 md:text-3xl md:leading-16;
  }
}

@layer components {
  .body-1-long {
    @apply text-lg font-normal leading-7 font-comfortaa;
  }

  .body-1-short {
    @apply text-lg font-normal leading-6 font-comfortaa;
  }
}

